@tailwind components;

@layer components {
  .slider-wrapper {
    --transition: 0.6s;
    @apply relative;
  }

  .slide {
    @apply grid grid-cols-1 place-content-center 
    text-white px-14 md:px-20;
  }

  .slide > h2 {
    @apply text-4xl md:text-5xl md:leading-[64px] font-bold 
    max-w-[20ch] pb-5;
  }

  .slide > p {
    @apply max-w-[62ch] pb-12;
  }

  .slide > div {
    @apply flex flex-wrap gap-x-1 gap-y-8;
  }

  .slider {
    @apply min-h-[75svh] md:min-h-screen relative overflow-hidden;
  }

  .slider > * {
    @apply absolute inset-0;
  }

  .slider > .isNext {
    translate: 100vw;
  }

  .slider > .isPrevious {
    translate: -100vw;
  }
  .slider-wrapper:has(.slider-btn-next:focus) .isPrevious {
    transition: translate var(--transition) ease;
  }
  .slider-wrapper:has(.slider-btn-previous:focus) .isNext {
    transition: translate var(--transition) ease;
  }

  .slider > .isCurrent {
    translate: 0;
    transition: translate var(--transition) ease;
  }

  .slider-btn-previous {
    @apply absolute inset-y-0 left-0 w-[75px] grid place-content-center;
    -webkit-tap-highlight-color: transparent;
  }
  .slider-btn-next {
    @apply absolute inset-y-0 right-0 w-[75px] grid place-content-center;
    -webkit-tap-highlight-color: transparent;
  }

  .slider-bullets {
    @apply absolute bottom-5 inset-x-1/2 -translate-x-1/2 w-fit
    flex justify-center items-center gap-2;
  }
  .slider-bullets li {
    @apply w-[30px] h-[30px] grid place-content-center cursor-pointer;
  }
  .slider-bullets li::after {
    @apply content-[''] w-[30px] h-[3px] bg-light;
  }
}
